# Folder hasil build dan file sementara
publish/
Release/
obj/
bin/

# File sertifikat (jangan dimasukkan ke repositori publik)
ZeroMixCert.pfx

# DLL spesifik yang tidak perlu dilacak
libcrypto-3-x64.dll
libssl-3-x64.dll
libcrypto-3-x86.dll