# Folder hasil build dan file sementara
publish/
Release/
obj/
bin/

# File sertifikat (jangan dimasukkan ke repositori publik)
Exe/ZeroMixCert.pfx

# DLL spesifik yang tidak perlu dilacak
Exe\libcrypto-3-x64.dll
Exe\libssl-3-x64.dll
Exe\libcrypto-3-x86.dll

# File sertifikat (jangan dimasukkan ke repositori publik)
Exe/ZeroMixCert.pfx/
