<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="ZeroMixProject.Frieren"
    Publisher="CN=Frieren, O=ZeroMix, L=Jakarta, S=JK, C=ID"
    Version="4.8.0.0" />

  <Properties>
    <DisplayName>ZeroMix Professional</DisplayName>
    <PublisherDisplayName>ZeroMix Team</PublisherDisplayName>
    <Logo>zeromix.ico</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.22621.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="ZeroMix.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="ZeroMix"
        Description="Smart Desktop Launcher &amp; System Utilities"
        BackgroundColor="transparent"
        Square150x150Logo="zeromix.ico"
        Square44x44Logo="zeromix.ico">
        <uap:DefaultTile Wide310x150Logo="zeromix.ico" />
        <uap:SplashScreen Image="zeromix.ico" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
